body,
html {
  display: grid;
  min-height: 100%;
  min-width: 100%;
  place-items: center;
  margin: 0 auto;
}

h1 {
  color: black;
}

.quiz-title {
  text-align: center;
  margin: 50px;
  font-size: 50px;
}

.question {
  font-size: 30px;
  font-weight: 400px;
  margin: 20px 0 20px 0;
}
.question-section {
  text-align: center;
}

.start-btn,
.next-btn,
.restart-btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 20px 40px;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 25px;
  transition: all 200ms ease;
  background-color: white;
  color: black;
}
.start-btn:hover,
.next-btn:hover,
.restart-btn:hover {
  font-size: 28px;
  cursor: pointer;
}

.answer-section {
  border: 1px solid black;
  margin: 5px 100px;
  padding: 31px;
  border-radius: 7px;
}

.answer-btn {
  font-size: 16px;
  margin: 15px 20px 15px 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
  width: 150px;
  height: 100px;
}

.result-msg {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  background-color: black;
  color: white;
  margin: 5px 100px;
  border-radius: 7px;
}

.hide {
  display: none;
}

@media (max-width: 768px) {
  .quiz-title {
    margin: 30px;
    font-size: 25px;
  }

  .start-btn,
  .next-btn,
  .restart-btn {
    font-size: 20px;
  }

  .start-btn:hover,
  .next-btn:hover,
  .restart-btn:hover {
    font-size: 20px;
  }

  .question {
    font-size: 20px;
  }

  .answer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .result-msg {
    font-size: 18px;
  }
}
